<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <title>图片处理</title>
  </head>

  <body>
    <div id="app">
      <h1>
        图片处理
      </h1>
      <div>{{ progressText }}</div>
      <input type="file" id="file_1" @change="changeFile" multiple />
      <button @click="upload">生成压缩图片</button>
      <div>
        <div
          v-for="(item, index) in imgList"
          :key="index"
          style="margin: 0 auto; margin-top: 20px;"
        >
          <div
            v-for="(item2, index2) in item"
            :key="index2"
            style="margin-left: 10px; float: left;"
          >
            <img :src="item2.src" style="display: block;" />
            <div>
              <div>压缩方式：{{ item2.optimizedType }}</div>
              <div>压缩耗时：{{ item2.optimizedTime }}</div>
              <div>大小：{{ item2.size }}</div>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          imgList: {},
          progress: -1,
          files: []
        },
        computed: {
          progressText() {
            var text = "准备上传";
            if (this.progress === -1) {
              text = "准备上传";
            } else if (this.progress === 100) {
              text = "上传完毕";
            } else {
              text = "上传中：" + this.progress + "%";
            }
            return text;
          }
        },
        created: function() {},
        methods: {
          changeFile: function(e) {
            this.progress = -1;
            this.files = e.target.files;
            var reads = new FileReader();
            reads.readAsDataURL(e.target.files[0]);
            reads.onload = e => {
              // console.log(e.currentTarget.result);
            };
          },
          upload: function() {
            console.log(this.files);
            var formData = new FormData();
            // 这里确认文件上传的key是file，nodejs的接口要对应处理这个字段
            // 多文件上传是这样传，千万不要formData.append("file", this.files);这样写
            for (let i = 0; i < this.files.length; i++) {
              formData.append("file", this.files[i]);
            }
            var config = {
              //添加请求头
              headers: { "Content-Type": "multipart/form-data" },
              //添加上传进度监听事件
              onUploadProgress: e => {
                this.progress = ((e.loaded / e.total) * 100) | 0;
                if (e.loaded === e.total) {
                  console.log("上传完毕");
                }
              }
            };
            axios
              .post("/file/optimized", formData, config)
              .then(function(response) {
                console.log(response);
              })
              .catch(function(error) {
                console.log(error);
              });
          }
        }
      });
    </script>
  </body>
</html>
